<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AutoInspect</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <link rel="icon" href="{{ url_for('static', filename='Icone.png') }}" type="image/x-icon" alt="Ícone da página">
    </head>

    <body>
        <div class="container">
            <h1>Inspeção Rápida</h1>
            <form action="/executar" method="POST" enctype="multipart/form-data">
                <div>
                    <label for="matricula">Matrícula:</label>
                    <input type="text" id="matricula" name="matricula" required aria-required="true">
                </div><br>

                <div>
                    <label for="arquivo">Selecionar arquivo Excel (.xlsx):</label>
                    <input type="file" id="arquivo" name="arquivo" accept=".xlsx" required aria-required="true">
                </div><br>

                <div>
                    <button type="submit">Iniciar Automação</button>
                </div>
            </form>
        </div>
    </body>
</html>